.loginBox{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}
.loginContainer{
    /* width: 100%; */
    border: 2px solid black;
    border-radius: 20px;
    padding: 5%;
    min-width: 500px;
    background-color: rgb(50,50,50);
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.loginContents{
    padding: 10px;
}
.loginContents>button{
    padding: 5px;
    width: 100px;
    background-color: red;
}
.loginContents>input{
    width: 250px;
    height: 20px;
    border-radius: 10px;
}