.App{
  min-width: 100vh;
  min-height: 100vh;
  width: auto;
  height: auto;
  padding: 1px;
  background-color: rgb(35, 35, 35);
}
button{
  background-color: rgb(35, 35, 35);
  border: 1px solid whitesmoke;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 10px;
}
button:hover{
  cursor: pointer;
  background-color: rgb(28, 203, 28);
}

@media only screen and (max-width: 768px){
  .gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 1px;
  }
}

@media only screen and (max-width: 600px) {
  .gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 1px;
  }
}

